<mat-toolbar>
    <mat-toolbar-row>
        <h1>Clinique Abernathy</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-raised-button color="primary" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</button>
        <button mat-raised-button color="primary" routerLink="patients" routerLinkActive="active">Liste des patients</button>
        <button mat-raised-button color="primary" routerLink="newpatient" routerLinkActive="active">Enregistrer un nouveau patient</button>
    </mat-toolbar-row>
</mat-toolbar>
