.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mat-card{
  margin-top: 20px;
  width: fit-content;
  min-width: 35%;
  height: fit-content;
  min-height: 40%;
}

.mat-card-content{
  width: 90%;
  margin-top: 10px;
  margin-left: 10px;
}

.mat-card-actions{
  display: flex;
  justify-content: space-around;
}

.mat-card-actions > button {
  width: 50%;
  margin-bottom: 10px;
}

.mat-card-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-card-subtitle{
  margin-left: 20px;
}

.mat-icon{
  color: orange;
}

#errcontent{
  display:flex;
  justify-content: center;
  margin-top: 20px;
}