.mat-card{
  margin-top: 20px;
  width: fit-content;
  min-width: 35%;
  height: fit-content;
  min-height: 40%;

}

.mat-card-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card-content{
  margin-top: 20px;
}